@model Get_Projekat.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Home Page";
}


<h4>Dobrodosli u Bilijar Klub</h4>
<h4>Kako bi rezervisali termin</h4>
<h4>Nastavite ka</h4><a asp-action="Login" asp-controller="Profil">linku</a>