@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<blink style="font-size:60px;transition: 0.5s;font;font-weight:bold">Ovaj sajt je radjen kao kratki projekat za ucenje .net mvc i signalR biblioteke</blink>
